 
  <script>
    $(document).ready(function() {

      $("#start-time").owlCarousel({
        items : 10,
     navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
    
    $("#end-time").owlCarousel({
        items : 10,
     navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
    
     $("#start-time2").owlCarousel({
        items : 10,
     navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
    
    
    $("#end-time").owlCarousel({
        items : 10,
     navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });
    
    $("#end-time2").owlCarousel({
        items : 10,
     navigation: true,
        navigationText: [
        "<i class='fa fa-angle-left'></i>",
        "<i class='fa fa-angle-right'></i>"
        ],
        
      });

      $('.link').on('click', function(event){
     var $this = $(this);
     var numItems = $('.clicked').length;
  if(numItems >=2 && !($this.hasClass('clicked')))
  {
       alert("You can select only two items.")
  }
  else{
        if($this.hasClass('clicked')){
          $this.removeClass('clicked');
        } else{
          $this.addClass('clicked');
        }
  }
      });
    
    $('.leave-office').on('click', function(event){
     var $this = $(this);
     var numItems = $('.clicked2').length;
  if(numItems >=2 && !($this.hasClass('clicked2')))
  {
       alert("You can select only two items.")
  }
  else{
        if($this.hasClass('clicked2')){
          $this.removeClass('clicked2');
        } else{
          $this.addClass('clicked2');
        }
  }
      });
  
    $('.reach-work').on('click', function(event){
     var $this = $(this);
     var numItems = $('.reach-work-selsct').length;
  if(numItems >=2 && !($this.hasClass('reach-work-selsct')))
  {
       alert("You can select only two items.")
  }
  else{
        if($this.hasClass('reach-work-selsct')){
          $this.removeClass('reach-work-selsct');
        } else{
          $this.addClass('reach-work-selsct');
        }
  }
      }); 
    
  $('.leave-work').on('click', function(event){
     var $this = $(this);
     var numItems = $('.leave-work-selsct').length;
  if(numItems >=2 && !($this.hasClass('leave-work-selsct')))
  {
       alert("You can select only two items.")
  }
  else{
        if($this.hasClass('leave-work-selsct')){
          $this.removeClass('leave-work-selsct');
        } else{
          $this.addClass('leave-work-selsct');
        }
  }
      });  
    
    
    

    jQuery('.travel-time-block ul li').on('click', function(event){
    debugger;
     var $this = $(this);
     var numItems = $('.selected').length;
  if(numItems >=4 && !($this.hasClass('selected')))
  {
       alert("You can select only four items.")
  }
  else{
        if($this.hasClass('selected')){
          $this.removeClass('selected');
        } else{
          $this.addClass('selected');
        }
  }
      });
    
    
   
  
$('#sub').click(function(){
  debugger;
var geocoder = new google.maps.Geocoder();
var geocoder1 = new google.maps.Geocoder(); 
var address = $('#pac-input').val();
var address1 = $('#pac-input1').val();
 
geocoder.geocode( { 'address': address}, function(results, status) {

  if (status == google.maps.GeocoderStatus.OK) {
      slat  = results[0].geometry.location.lat();
      slng = results[0].geometry.location.lng();
   } 
});

geocoder1.geocode( { 'address': address1}, function(results, status) {

  if (status == google.maps.GeocoderStatus.OK) {
     dlat = results[0].geometry.location.lat();
     dlng = results[0].geometry.location.lng();
   }
 });

   location.href = 'routes/find_route?s='+address+'&slat='+slat+'&slong='+slng+'&d='+address1+'&dlat='+dlat+'&dlong='+dlng
});



  
   });
  
  
  
    </script>
  
</head>

<body>
<!-- Loader -->
 
<!-- Loader end -->
<div class="layout-theme animated-css"  data-header="sticky" data-header-top="200"> 
  <div id="wrapper"> 
 <script>
       

      function initMap() {
        var map = new google.maps.Map(document.getElementById('address_hint'), {
          
        });
        var input = /* @type {!HTMLInputElement} */(
            document.getElementById('pac-input'));
      var input1 = /* @type {!HTMLInputElement} */(
            document.getElementById('pac-input1'));

        var types = document.getElementById('type-selector');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input1);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

        var autocomplete = new google.maps.places.Autocomplete(input);
    var autocomplete1 = new google.maps.places.Autocomplete(input1);
        autocomplete.bindTo('bounds', map);

 
         

        autocomplete.addListener('place_changed', function() {
          
      RedirectPage();
          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
          infowindow.open(map, marker);
        });
    
    autocomplete1.addListener('place_changed', function() {
          
      RedirectPage();
          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
          infowindow.open(map, marker);
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, types) {
          var radioButton = document.getElementById(id);
          radioButton.addEventListener('click', function() {
            autocomplete.setTypes(types);
          });
        }

        setupClickListener('changetype-all', []);
        setupClickListener('changetype-address', ['address']);
        setupClickListener('changetype-establishment', ['establishment']);
        setupClickListener('changetype-geocode', ['geocode']);
      }
    
    function RedirectPage()
    {
 
 

    }
    </script>
  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWdJ3F1a1pmCUjyHaINmV1_nOJ6hpbArM&libraries=places&callback=initMap"
        async defer></script>
  
    
    <!-- HEADER -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12"> <a class="header-logo" href="index.html"><img class="header-logo__img" src="/assets/logo.png"  alt="Logo"></a>
            <div class="header-inner">Home: Office Pickup: Drop for Odd:Even 2.0.</div> 
          </div>
          <!-- end col  --> 
        </div>
        <!-- end row  --> 
      </div>
      <!-- end container--> 
    </header>
    <!-- end header -->
     <section class="section-default">
        <div class="container"> 
          
           <div class="row">
            
          <div class="col-md-12 wow zoomIn" data-wow-duration="1s">
      <div class="form-group">
      <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-home"></i></span>
    <input id="pac-input" class="controls form-control" type="text" placeholder="Enter Home Address">
    <div id="address_hint"></div>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
    <input class="controls form-control" id="pac-input1" type="text" placeholder="Enter Office Address">
    <div id="address_hint"></div>
    </div> 
     </div> 
    <!-- end form group -->
    <!-- star time -->
<%if params[:result] == false%>    
    <div class="start-time-block">
     <h5>What time do you have to reach work?</h5>
     <div class="crowl-pad">
     <div id="start-time" class="owl-carousel">               
                <a class="item link">8:00</a>
                <a class="item link">8:30</a>
        <a class="item link">9:00</a>
        <a class="item link">9:30</a>
                <a class="item link">10:00</a>
        <a class="item link">10:30</a>
        <a class="item link">11:00</a>
                <a class="item link">11:30</a>
        <a class="item link">12:00</a>
        <a class="item link">12:30</a>
                <a class="item link">13:00</a>
        <a class="item link">13:30</a>

              </div>
        <p style="text-align:center">(Select top 2)</p>
      </div>
     </div>
     
     <!-- end time -->
     <div class="end-time-block">
      <h5>What time do you leave from work?</h5>
     <div class="crowl-pad">
     <div id="end-time" class="owl-carousel">               
                <a class="item leave-office">8:00</a>
                <a class="item leave-office">8:30</a>
        <a class="item leave-office">9:00</a>
        <a class="item leave-office">9:30</a>
                <a class="item leave-office">10:00</a>
        <a class="item leave-office">10:30</a>
        <a class="item leave-office">11:00</a>
                <a class="item leave-office">11:30</a>
        <a class="item leave-office">12:00</a>
        <a class="item leave-office">12:30</a>
                <a class="item leave-office">13:00</a>
        <a class="item leave-office">13:30</a>

              </div>
        <p style="text-align:center">(Select top 2)</p>
      </div>
     
     </div>
     <!-- travel time -->
     <div class="travel-time-block">
     <h5>What mode of travel do you use to complete this journey everyday?</h5>
     <ul class="check-box">
     <li> Bus </li>
     <li> Metro </li>
     <li> Shared Auto </li>
     <li> Auto </li>
     <li> Car </li>
     <li> Shared Taxi </li>
     <li> Office Cab </li>
     <li> Bike </li>
     <li> Taxi </li>
     </ul>
<%end%>     
     <div class="button-block">
     <button class="btn btn-info btn-block" type="button" id="sub">Submit</button>
     </div>
     
     </div>
         </div>
    <!-- end coll --> 
     
         </div>
         
        </div>
        <!-- end container --> 
      </section>
      <!-- end section-default -->
   
    
    
  </div>

 <!-- end wrapper --> 
</div>
<!-- SCRIPTS --> 

 
 