# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bde20d5da8dc48f4496eb3bf5cb0a1cbd245579b240aa2694e2efe778419efba9cf5b08991b86dc7dbd8f6209f7a9e9e45396b65f9941316f2813cd31f9e9a12

test:
  secret_key_base: 9b9d2660a63e7c73377ac04e254726e59e4de1a1b10659544d64a95a375d7dbaa55659cc084bdfec4ad1004daae1a7de0b0c6239ba269e656aff1e58869ae493

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
