/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

 
#start-time .item{display: block;cursor: pointer;background: #fff;padding: 8px 0px;margin: 0px 1px;
        color: #FFF;border:solid 1px #333; color:#333;text-align: center;-webkit-tap-highlight-color: rgba(255, 255, 255, 0); font-size:15px;}
#start-time .item:hover{background: #3EB6B5; text-decoration:none;}
#start-time .item.clicked{background: #3EB6B6; color:#fff;}

#start-time2 .item {
    display: block;
    cursor: pointer;
    background: #fff;
    padding: 2px 0px;
    margin: 0px 1px;
    line-height: 33px;
    height: 38px;
    border: solid 1px #333;
    color: #333;
    text-align: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    position: relative;
}

#end-time2 .item {
    display: block;
    cursor: pointer;
    background: #fff;
    padding: 2px 0px;
    margin: 0px 1px;
    line-height: 33px;
    height: 38px;
    border: solid 1px #333;
    color: #333;
    text-align: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    position: relative;
}

#start-time2 .item.link span {
    position: absolute;
    bottom: -10px;
    color: red;
    text-align: center;
    left: 4%;
    width: 100%;
}

#end-time2 .item.link span {
    position: absolute;
    bottom: -10px;
    color: red;
    text-align: center;
    left: 4%;
    width: 100%;
}

#start-time2 .item:hover{background: #3EB6B5; text-decoration:none;}
#start-time2 .item.clicked{background: #3EB6B6; color:#fff;}
#start-time2 .item span{font-size:10px;}



#end-time .item{display: block;cursor: pointer;background: #fff;padding:8px 0px;margin: 0px 1px; 
        color: #FFF;border:solid 1px #333; color:#333;text-align: center;-webkit-tap-highlight-color: rgba(255, 255, 255, 0); font-size:15px;}
#end-time .item:hover{background: #3EB6B5; text-decoration:none;}
#end-time .item.clicked{background: #3EB6B6; color:#fff;}
#end-time .item.clicked2{background: #3EB6B6; color:#fff;}	
 
#end-time2 .item:hover{background: #3EB6B5; text-decoration:none;}
#end-time2 .item.clicked{background: #3EB6B6; color:#fff;}
 #end-time2 .item span{font-size:10px;}
 
 
.crowl-pad{ padding:0 30px;}	
	
.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -26px;
    top: 0px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -26px;
    top: 0px;
}
.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 6px 5px; border:solid 1px #333;
}
.owl-buttons .fa{ font-size:22px;}
